.portfolio__container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;

}
.bg-port{
    background:linear-gradient(to bottom,var(--blue4-bg),var(--blue1-bg) ),
    url("../../assets/form3.png"); ;
    background-size: cover;
    background-position: center top;
}

.text-pf{
    text-align: left;

}




.portfolio__item{
    background-color: var(--blue2);
    border-radius: 2rem;
    margin: 3rem 0;
    position: relative;
}

.portfolio__item img{
    border-radius: 1rem ;
    width: 100%;
    aspect-ratio: 1/1;
}
.content-img{
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 2rem;
    position: absolute;
    top: 0rem;
    right: 0;
    left: 0;
    background: linear-gradient(var(--blue3), transparent);
}
/* .content-img:hover{
    background: linear-gradient(var(--blue3), var(--blue4-bg));

} */
.content-img h3{
    font-family: var(--title);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-align: left;


}

/* MQ */
/* medium devices */
@media screen and (max-width: 1024px) {

    .portfolio__container{
        display:grid;
        grid-template-columns: 1fr
       
    
    }

    .portfolio__item{
        margin: 2rem;

    }

}
/* small devices */

@media screen and (max-width: 600px) {

    .portfolio__item{
        margin: 1rem;


    }
    .content-img h3{
        font-size: 1rem;
        text-align: left;
    
    }
    .content-img button{
        font-size: .75rem;
        text-align: left;
    
    }
    .text-pf{
        text-align: center;
    }
}

