footer{
    height: 50vh;
    background-image: linear-gradient(to bottom,var(--blue1-bg),var(--blue4-bg) ),
    url('../../assets/fondo.foo.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .ft{
    padding: 10rem;
    width: 50%;


} */

footer h5{
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
}
.social{
    margin: 2rem 1rem;
}
footer p{
    text-align: center;
}