nav{
    background: rgba(0, 0, 0, .4);
    width: max-content;
    display: block;
    padding: 1rem 2rem;
    z-index: 20;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding:.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--white);
    font-size: 1.1rem;
    
}

nav a:hover{
    background: rgba(0, 0, 0, .4);
}

nav a.active {
    background: var(--blue3);
}